/* CSS RESET */
/* Approccio Desktop-first */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* Gnererics */
.container{
    font-family: 'Montserrat', sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: blue;
    z-index: 1;
}

.wrapper{
    background-color: aqua;
    display: flex;
}

.nav-bar{
    height: calc(100vh - 80px);
    width: 150px;
    background-color: brown;
}

.mini-wrapper{
    width: calc(100% - 150px);
    background-color: green;
}

header{
    height: 80px;
    background-color: lightgray;
    position: relative; 
}

.content{
    height: calc(100vh - 160px);
    overflow-y: auto;
}

/* Utils */
.btn-header{
    text-align: right;
    position: absolute;
    right: 0;
    top: 20px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.column{
    padding: 1rem;
}

.col-size{
    min-height: 200px;
    flex-basis: calc(100% / 6); 
    border: 2px dashed red;
}

.menu-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-list li{
    list-style-type: none;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}

.menu-list a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
}

/******************************
RESPONSIVE
*******************************

/* Laptop Responsive */
@media screen and (max-width: 1200px){
    /* menu navigazione responsive laptop */
    .menu-list li{
        flex-basis: 20%;
    }
    
    
    /* card responsive laptop */
    .col-size{
        flex-basis: 25%;
    }
}

/* Tablet Responsive */
@media screen and (max-width: 992px){
    /* menu navigazione responsive tablet */
    .menu-list li{
        flex-basis: calc(100% / 3);
    }

    /* card responsive tablet */
    .col-size{
        flex-basis: 50%;
    }
}


/* Mobile Responsive */
@media screen and (max-width: 768px){
    /* side-bar respponsive mobile */
    .nav-bar{
        width: 30px;
    }    
     
    .mini-wrapper{
        width: calc(100% - 30px);
    }

    /* menu navigazione responsive mobile */
    .menu-list li{
        flex-basis: 25%;
    }
}