/* CSS RESET */
/* Approccio Desktop-first */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 /* Generics */
 body{
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
 
 footer{
     height: 80px;
     background-color: #252525;
  } 
 
.container{
    height: calc(100vh - 80px);
    overflow: auto; 
    display: flex;
}

 .nav-bar{
    flex: 0 0 230px;
    background-color: #000f1a;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 10px;
 }
 
 main{
     flex: 1 1 auto;
     background-color:  #00264d;
     overflow: auto;   
     height: 100%;
 }
 
 header{
     height: 80px;
     position: sticky; 
     background-color: rgb(0, 26, 51, 0.8);
     top: 0;
     left: 0;
     right: 0;
 }
 
 img{
     max-width: 100%;
 }
 
 /* Utils */
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 
 .column{
    padding: 1rem;  
 }
 
.pdg-exsmall{
    padding: 0.5rem;
}

 .pdg-small{
    padding: 1rem;
 }

 .pdg-small-side{
    padding: 0 1rem 0.5rem;
 }

 .pdg-exsmall-side{
    padding: 0 0.2rem;
}

 .mrg-small{
    margin-bottom: 1rem;
 }

 /* Side-bar  */
 /* style top navbar */
 .visible-mobile{
    display: none;
}

.nav-bar img{
    height: 30px;
    width: 30px;
    padding: 5px 0;
}

#img-logo{
    height: 55px;
    width: 150px;
}

.icon-flex{
    display: flex;
    align-items: center;
}

/* style playlist navbar */
.new-playlist *{
    padding: 3px 0;
}

.new-playlist h2 {
    text-align: left;
}

.crea-playlist{
   display: flex;
   align-items: center;
}

.crea-playlist span{
    color: rgba(255, 255, 255, 0.4);
    margin-left: 5px;
}

.fa-square-plus{
    font-size: 35px;
}

.playlist-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-playlist li{
    padding: 0.5rem 0;
}

.nav-bar a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.4);
}

.playlist-bar{
    width: 5px;
    height: 200px;
    background-color: white;
}

.bar-mobile{
    display: none;
}

.bar-reload{
    width: 4px;
    height: 180px;
    background-color: grey;
}

/* style bottom navbar */
.bottom-nav{
    position: absolute;
    bottom: 0;
    left: 10px;
}

.hr-bottomnav{
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 210px;
}
 /* Header */
.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

 .btn-header{
     padding: 10px 20px;
     border-radius: 20px;
     border: 1px solid white;
     background-color: rgb(0, 26, 51, 0.8);
     color: white;
 }
 
 /* menu navigazione del content */
 .menu-list{
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .menu-list li{
     list-style-type: none;
     cursor: pointer;
     text-align: center;
 }
 
 .menu-list a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.4);
     font-size: 14px;
 }
 
 /* content spotify */
 .col-size{
     min-height: 200px;
     flex-basis: calc(100% / 6); 
 }

.active-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active{
    width: 40px; 
    border: 1px solid yellowgreen;
}

.card-wrapper p{
    padding: 0.5rem 0 0;
}

 .card h2{
    font-size: 16px;
    padding: 5px 0;
 }

 .card-wrapper p{
    font-size: 14px;
 }

 .card p, h2{
    text-align: center;
 }

 #popular-artist img{
    border-radius: 50%;
 }
 
 /* Footer */
 /* playing brano in esecuzione */
 .footer-row{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
 }
 
 .w-side{
     height: 50px;
     flex-basis: 230px;
 }

 .w-50{
    height: 50px;
    flex-basis: 50%;
 }
 
.footer-row i{
    color: rgba(255, 255, 255, 0.4);
}

 .playing{
     display: flex;
     align-items: center;
 }
 
 .song-playing{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     height: 50px;
     margin-right: 20px;
 }
 
 .song-img{
     height: 50px;
     width: 50px;
 }

 .being-played span{
    font-size: 12px;
 }

 .song-name h3{
    font-size: 15px;
 }

 /* time-playing comandi del brano */
 .command-song{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .command-song i{
     font-size: 15px;
 }

 .command-song :nth-child(3){
    font-size: 25px;
 }
 
 .fa-circle-play{
     font-size: 20px;
 }
 
 .bar-song{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .bar-song *{
     font-size: 12px;
 }
 
 .timing-bar{
     flex-basis: 80%;
     background-color: rgba(0, 0, 0, 0.7);
 }

 /* setting spotify */
 .setting{
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 
 .setting-bar{
    background-color: rgba(0, 0, 0, 0.7);
 }

 .items-setting{
    flex-basis: 50%;
    text-align: right;
    margin: 0 10px;
 }

 .load-bar{
    border: 2px solid rgba(255, 255, 255, 0.4);
    width: 25%;
 }

 .setting-icon i{
    font-size: 12px;
 }
 
/*******************************
EFFETTI IN HOVER
********************************/
.hover-colored:hover{
    cursor: pointer;
    color: white;
}

/* items nav-bar in hover */
.new-playlist .crea-playlist:hover > *{
    cursor: pointer;
    color: white;
 }

 /* header btn in hover */
.btn-header:hover{
    cursor: pointer;
    transform: scale(1.3);
    margin-right: 50px;
}

/* card in hover */
.column{
   cursor: pointer; 
}

.column figure{
   position: relative;
}

.column .card:hover figure::after{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
   content: "\f144";
   font-family: "Font Awesome 5 Free";
   font-size: 50px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* footer items in hover */


 /******************************
 RESPONSIVE
 *******************************
 
 /* Laptop Responsive */
 @media screen and (max-width: 1200px){
     /* menu navigazione responsive laptop */
     .menu-list li{
         flex-basis: 20%;
     }
     
     /* card responsive laptop */
     .col-size{
         flex-basis: 25%;
     }
 }
 
 /* Tablet Responsive */
 @media screen and (max-width: 992px){
     /* menu navigazione responsive tablet */
     .menu-list li{
         flex-basis: calc(100% / 3);
     }
 
     /* card responsive tablet */
     .col-size{
         flex-basis: 50%;
     }
 
     /* Footer tablet responsive */
     .song-img{
         height: 40px;
         width: 40px;
     }
     
     .save-song{
         display: flex;
         flex-direction: column;
     }
 }
 
 
 /* Mobile Responsive */
 @media screen and (max-width: 768px){
    main{
         flex-basis: calc(100% - 50px);
     }
     
     /* side-bar respponsive mobile */
     .nav-bar{
         flex-basis: 50px;
     }  
     
     .nav-bar img{
        padding: 5px;
     }
 
     .invisible-mobile{
         display: none; 
     }
 
     .visible-mobile{
         display: block;
     }
 
     /* menu navigazione responsive mobile */
     .menu-list li{
         flex-basis: 25%;
         padding: 0.4rem;
     }

 
     /* footer mobile responsive */
     /* playing brano in esecuzione mobile responsive*/
     .song-img{
         height: 30px;
         width: 30px; 
     }

     .being-played{
        display: flex;
        flex-direction: column;
     }
 
     /* time-playing comandi del brano mobile responsive */
     .command-song i{
         padding: 5px 10px;
     }

     .bar-song span{
        padding: 0 5px;
     }
     
     /* setting spotify mobile responsive */
     .items-setting{
        margin: 0 5px;
     }

 }

 /* footer behaviour extra-small screen */
 @media  screen and (max-width: 485px) {
    .playing, .setting{
        display: none;
    }

    .w-50{
        flex-basis: 100%;
    }

 }

 /* Responsive Height */
 @media screen and (max-height: 640px) {
    .bar-mobile{
        display: block;
    }
    
 }
 
 @media screen and (max-height: 625px) {
   .bottom-nav{
    display: none;
   
   }

   .bar-reload{
    height: 140px; 
}

 }

 @media screen and (max-height: 570px) {
    .bar-reload{
     height: 100px; 
 }
 
  }

  @media screen and (max-height: 480px) {
    .bar-reload{
     height: 40px;
 }
 
  }
